{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block modal%}
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var num = "{{ n }}";
  var slides = document.getElementsByClassName("pet_image");
  if (n > num) {slideIndex = 1}    
  if (n < 1) {slideIndex = num}
  for (i = 0; i < num; i++) {
      slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
    </script>
{% endblock modal %}
{% endblock head %}
{% block content %}


    <div class="detail-container">
      <div class="pet-name"><b>{{ pet.pet_name }}</b></div>
      <div class="characterstics">{{ pet.age }} yr old {{ pet.breed }}</div>
      <div class="characterstics">Lives in {{ pet.address }}</div>
      <div class="characterstics"> {{ pet.distance }} Km far </div>

      <div id="slider-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          {% for image in images %}
              <div class="pet_image fader"><img id="pet_images" src='{{ image.image.url }}' width="500px" height="300px"></div>
          {% endfor %}
          
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="other-details">
          <div class="labels">Behaviour</div>
          <div class="characterstics2">{{ pet.general_behaviour }}</div>
          <div class="labels">Description</div>
          <div class="characterstics2">{{ pet.description }}</div>
          <div class="labels">Gender</div>
          <div class="characterstics2">{{ pet.gender }}</div>
          <div class="labels">Vaccinated</div>
          <div class="characterstics2">{{ pet.vaccinated }}</div>
          <div class="labels">Sterlized</div>
          <div class="characterstics2">{{ pet.sterlized }}</div>
          <a href="http://localhost:8000/dialogs/{{pet.user}}" class="btn btn-primary" id="chat-button" style="color:white" role="button">Chat</a>

      </div>
    </div>
    <br><br>
    {% endblock content %}
