body{
    font-family: 'Montserrat', sans-serif; 
}
footer{
    position: absolute;
    bottom:0;
    left:43%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:98.3%;
    font-size: 13px;
    color: #797878;
    padding:10px;
    margin-right: 1em;
    margin-left: 1em;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5);
}
h1{
    display: inline;
}
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer; 
}
a:hover{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1 {
    align-self: flex-end;
    margin: 0em;
    color: #797878;
}
.nav-list {
    display: flex;
    justify-content: space-between;
}
.nav_li {
    font-size: 1.2em;
    margin-left:1em;
    color: #797878;
}
.footer-div {
    color: #f87408;
    font-size: 1em;
    position: relative;
    top: 10em;
    text-align: end;
    padding:1em;
    margin: 0em;
    border-top-style: solid;
    border-top-color: #c7c6c6;
    border-top-width: 0.1em;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 4em;
    width: 100%;
}
.gallery {
    margin: 5px;
    width: 20%;
    height: 20%;
    margin:20px;
    text-align: center;
  }
  
  .gallery:hover {
    /* border: 1px solid #777;
    box-shadow: -3px 9px 7px -5px rgba(0, 0, 0, 0.5); */
  }
  
  .gallery img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  
  .desc {
    padding-bottom: 20px;
    padding:10px;
    text-align: center;
    font-size: 0.9em;
    color: #686868;
  }
.hamburger{
    display:none;
}
.mobile-nav{
    display: none;
}


@media only screen and (max-width: 600px) {

    .nav-list{
        display:none;
    }
    .hamburger{
        display:block;
    }
    

}

/* ------------ detail page ----------------------------------------------*/


.detail-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    margin: 2em;
}
b {
    font-size: 2em;
    color: #0d8d8d;
    padding-bottom: 0.2em;
}
.pet-name {
    margin-bottom: 1em;
    border-bottom-style: dashed;
    border-bottom-color: #c7c6c6;
    border-bottom-width: 0.05em;
}
.characterstics {
    color: #797878;
    margin-bottom: 0.5em;
}
.labels {
    color: #0d8d8d;
    border-bottom-style: dashed;
    border-bottom-color: #c7c6c6;
    border-bottom-width: 0.05em;
}
#slider-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 4em;
}
.fader {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
@-webkit-keyframes fader {
    from {opacity: .4} 
    to {opacity: 1}
  }
@keyframes fader {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .prev{
    cursor: pointer;
    color: #0d8d8d;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    left: -1em;
    top: 4em;
  }
.next{
    cursor: pointer;
    color: #0d8d8d;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    left: 1em;
    top: 4em;
}
.pet_image {
    display: inline;
}
a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer; 
}
.other-details {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8em;
    margin-bottom: 4em;
}
.characterstics2 {
    color: #797878;
    margin-top: 0.7em;
    margin-bottom: 2em;
    
}
#chat-button {
    position: relative;
    top: 1em;
}
/* ------------------------------------------------------------------- */

/*-------------- feed css begins--------------------------------------*/
#post-feed {

    position: relative;
    top: 2em;
    left: 2em;
    margin-bottom: 2em;
}
/* post-upload ==============*/
#post-upload-div {
    margin: 3em;
    margin-left: 3em;
}
#id_content {
    height: 10em;
}

/* post-detail ================ */

.feed-li {
    list-style-type: none;
}
.contentfeed {
    position: relative;
    top: 2em;
}
#feed-image {
   position: relative;
   top: 1em;
}
.comment-block {
    position: relative;
    top: 4em;
    margin-bottom: 25em;
}
#feed-list-container {
    margin: 4em;
}
#indi-comments {
    margin-top: 1em;
    /* background-color: #dfdbdb;
    padding: 0.2em; */
    border-bottom-style: dashed;
    border-bottom-color: #0d8d8d;
    border-bottom-width: 0.05em;
}
.comment-lists {
    
}
/*---------------------------------------------------------------------*/