{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="http://localhost:8000/feed/upload/" class="btn btn-success" id="post-feed" style="color:white" role="button">Post Feed</a>
<div class = 'container'>
    {% for post in posts %}
    <div class = 'gallery'>
        <a href="{% url 'feed:post-detail' post.id %}">
            <img src="{{ post.first_image.image.url }}" alt="Cinque Terre">
        </a>
        <div class = 'desc'>
            <div>
                <strong>{{ post.title }}</strong><br>
            </div>
            <div>
                <strong>Posted by: </strong>{{ post.user.username }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
