<!DOCTYPE html>
<html>
{% load bootstrap4 %}

<head>
    {% block head %}
    
     {% endblock %}
    {% block title %}<title>Signup</title>{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    
    <style>
        body {
            background-image:url(https://s7d2.scene7.com/is/image/PetSmart/GN0314_LG_MENU-DogAndCat-20160818?$GN3014$);
            display:flex;
            background-repeat: no-repeat;
            justify-content: flex-end;
            font-family: 'Montserrat', sans-serif;
            
        }
        .signup-content {
            width: 50%; 
            height: 50%;
            background: white;
            opacity:0.9;
            background-size: cover;
            color: black; /* Grey text */
            z-index:2 ;
            min-width: 200px;
            max-width: 400px;
            padding:5% 10% 5% 10%;
            
        }
        .signup a{
            color:turquoise;
        }
        .alert{
            color:red;
        }
        @media only screen and (max-width: 1256px){
            body{
                justify-content: center;

            }
            .signup-content{
                box-shadow: 2px 1px 7px rgba(0,0,0, 0.5);
            }
        }



    {% block styles %} {% endblock %}
        
        
    </style>
    
</head>


<body>

    {% block content %}
    <div class="signup-content">
    <div class="input-fields">
        {% for message in messages %}

        <div class="alert">
            {{ message }}
        
        </div>
        {% endfor %}
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <strong>{{ field.label_tag }}</strong><br>
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}

        {% for field in profile_form %}
        <p>
            <strong>{{ field.label_tag }}</strong><br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}

        <button type="submit"><strong>Signup</strong> </button>
    </form>
    </div>
    </div>
    {% endblock %}

</body>

</html>